# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
BinaryCoder/BinaryCoder.xcodeproj/project.xcworkspace/xcuserdata/chenhailong.xcuserdatad/UserInterfaceState.xcuserstate
BinaryCoder/BinaryCoder.xcodeproj/project.xcworkspace/xcuserdata/chenhailong.xcuserdatad/xcdebugger/Expressions.xcexplist
BinaryCoder/BinaryCoder.xcodeproj/xcuserdata/chenhailong.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
BinaryCoder/BinaryCoder.xcodeproj/xcuserdata/chenhailong.xcuserdatad/xcschemes/BinaryCoder.xcscheme
BinaryCoder/BinaryCoder.xcodeproj/xcuserdata/chenhailong.xcuserdatad/xcschemes/gensp.xcscheme
BinaryCoder/BinaryCoder.xcodeproj/xcuserdata/chenhailong.xcuserdatad/xcschemes/xcschememanagement.plist
